html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

html {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    overflow: auto;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 1rem;
    overflow: auto;
}

.hidden{
    display:none;
}

#sync-error, #sync-success {
  display: none;
}

[data-sync-state=syncing] #sync-success {
  display: block;
}

[data-sync-state=error] #sync-error {
  display: block;
}